.pagination_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.pagination_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.pagination_container_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}

.pagination-button {
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #f93239;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 1s, color 1s;
  margin: 1rem;
}

.pagination-button:hover {
  background-color: #fff;
  color: #f93239;
  transition: background-color 1s, color 1s;
}

.pagination-page {
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #f93239;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 1s, color 1s;
  margin: 1rem;
}

.pagination-page-active {
  background-color: #fff;
  color: #f93239;
  transition: background-color 1s, color 1s;
}

@media only screen and (min-width: 768px) {
  .pagination-button {
    font-size: 2rem;
  }

  .pagination-page {
    font-size: 2rem;
  }
} ;
